/* mainWindow.css */
.mainWindow {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
}

.mainWindow_container {
    max-width: 393px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 0 16px; 
    color: #fff; 
}
