
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

/* Стили для формы */
.form-container {
    background-color: #000;
    border-radius: 10px;
    width: 260px;
    height:468px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ccc;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="datetime-local"],
.form-group .screenshot-container input[type="text"] {
    width: 220px;
    height: 38px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #888;
    font-size: 14px;
}

.screenshot-container {
    position: relative;
    display: flex;
    align-items: center;
}

.screenshot-container input[type="text"] {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #888;
    font-size: 14px;
}

.screenshot-container label {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.form-group input[type="file"] {
    display: none;
}

.closeButton {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top:33px;
}
